@import "settings-page";
@import "speed-dial";


.TabbedView {
    border: 1px solid $colorBdrSettingsSidebar;
    background-color: $colorInputBg;
    .TabbedView-List {
        border-bottom: 1px solid $colorBdrSettingsSidebar;
        background-color: $colorTabbedViewBg;
    }
    .TabbedView-Content {
        .ThemeEditorColorPicker-ColorInput {
            border: 1px solid $colorBdrSettingsSidebar;
        }
        .TabbedView-Footer {
            border-top: 1px solid $colorBdrSettingsSidebar;
        }
        .Button-Manager {
            select {
                height: 82px !important;
            }
        }
        .sortselector.sortselector-tableheader {
            background-color: var(--colorAccentBg);
            border: none;
            .sortselector-button.sortselector-button-active {
                &.direction-ascending, &.direction-descending  {
                    span.column-sort-order {
                        svg path {
                            d: path($upArrowIcon11x6);
                        }
                    }
                }
            }
        }
    }
}


.vivaldi-tree {
    border: 0px solid transparent !important;
    .tree-row {
        border-radius: 0px !important;
        &[data-selected] {
            background-color: $colorItemInactive;
        }
        &:hover {
            &:not([data-selected]) {
                background-color: $colorCategoryHover;
            }
        }
        button[title="Show in File Manager"] {
            svg path {
                &:first-child {
                    d: path("m 0,0 v 1.3333333 v 4 V 6.6666667 V 14.666667 V 16 H 16 V 14.666667 V 5.3333333 V 4 V 2.6666667 H 9.333333 L 6.6666667,0 V 0 V 0 H 1.3333333 Z m 1.3333333,1.3333333 h 4.8 l 1.3333334,1.3333334 h -0.8 v 0 v 0 L 4,5.3333333 H 1.3333333 Z m 0,5.3333334 H 14.666667 V 14.666667 H 1.3333333 Z");
                }
                &:last-child {
                    all: unset;
                }
            }
        }
        .expand-icon {
                svg {
                    path {
                        d: path("M 7.5,4.9730007 L 3.0270617,9.446 L 2.5,8.9189402 L 6.445881,4.9730007 L 2.5,1.0270688 L 3.0270617,0.5 Z");
                    }
                }
            }
    }
}

.ReactVirtualized__Grid.ReactVirtualized__List {
    background-color: $colorInputBg;
    border: 1px solid $colorSearchBdr;
    border-radius: 3px;
    transition: border 0.1s;
    &:hover {
        border-color: var(--colorHighlightBg);
    }
    .button-category {
        margin: 0px;
        border-radius: 0px;
        &.category-selected {
            background-color: $colorHighlightBdr;
        }
        &.spacer {
            border-top: 0.9px solid $colorBdrSettingsSidebar;
        }
        &:hover:not(.category-selected) {
            background-color: $colorCategoryHover;
        }
    }
}

.setting-single.menu-items {
    img {
        content: url("./resources/configure.png");
    }
}



