@import "settings-page";
@import "speed-dial";


.TabbedView {
    border: 1px solid $colorBdrSettingsSidebar;
    background-color: $colorInputBg;
    .TabbedView-List {
        border: 1px solid $colorBdrSettingsSidebar;
        background-color: $colorTabbedViewBg;
    }
    .TabbedView-Content {
        .ThemeEditorColorPicker-ColorInput {
            border: 1px solid $colorBdrSettingsSidebar;
        }
        .TabbedView-Footer {
            border-top: 1px solid $colorBdrSettingsSidebar;
        }
        .Button-Manager {
            select {
                height: 82px !important;
            }
        }
        .sortselector.sortselector-tableheader {
            background-color: var(--colorAccentBg);
            border: none;
        }
    }
}


.vivaldi-tree {
    //border: 1px solid $colorBdrSettingsSidebar !important;
    .tree-row {
        border-radius: 0px !important;
        &[data-selected] {
            background-color: $colorItemInactive;
        }
        &:hover {
            &:not([data-selected]) {
                background-color: $colorCategoryHover;
            }
        }
    }
}

.ReactVirtualized__Grid.ReactVirtualized__List {
    background-color: $colorInputBg;
    border: 1px solid $colorSearchBdr;
    border-radius: 3px;
    transition: border 0.1s;
    &:hover {
        border-color: var(--colorHighlightBg);
    }
    .button-category {
        margin: 0px;
        border-radius: 0px;
        &.category-selected {
            background-color: $colorHighlightBdr;
        }
        &.spacer {
            border-top: 0.9px solid $colorBdrSettingsSidebar;
        }
        &:hover:not(.category-selected) {
            background-color: $colorCategoryHover;
        }
    }
}

.dialog-content {
    background: var(--colorBg);
    .button-toolbar.BookmarkLocationSelector-AddFolderButton {
        button[name=bookmarkNewFolderButton][title="New Folder"] {
            border: 1px solid $colorInputBtnBdr;
            @include button(var(--colorTabBar), var(--colorTabBar), 3px);
        }
    }
}
.dialog-footer {
    height: 52.8px !important;
}

