@import "./variables";

.button-startpage.add-set {
    svg {
        path {
            d: path("M 7.2727258,0 V 7.262919 H 0 V 8.71436 H 7.2727258 V 16 H 8.72727 V 8.71436 H 16 V 7.262919 H 8.72727 V 0 Z");
        }
    }
}

.circular {
    &.update-thumbnail {
        svg {
            path {
                d: path("m 14,8 c 0,1.1088173 -0.319333,2.140071 -0.84375,3.03125 l -2.6875,-2.6875 L 11.1875,7.625 l 1.625,1.625 c 0.05109,-0.19534 0.09772,-0.3898623 0.125,-0.59375 C 12.945289,8.6038437 12.962684,8.5529713 12.96875,8.5 C 12.98582,8.3319146 13,8.172589 13,8 C 13,5.238576 10.761424,3 8,3 C 7.756976,3 7.5144918,3.02845 7.28125,3.0625 C 7.1450007,3.082455 7.0074468,3.094286 6.875,3.125 C 6.5884185,3.19195 6.327376,3.291647 6.0625,3.40625 C 6.031825,3.419522 5.999101,3.423626 5.96875,3.4375 c -0.09166,0.040961 -0.163333,0.108255 -0.25,0.15625 c -0.008,0.00445 -0.02305,-0.00433 -0.03125,0 l -0.71875,-0.75 C 5.859929,2.319333 6.891182,2 8,2 c 3.313709,0 6,2.686293 6,6 z m -2.96875,5.15625 C 10.140071,13.680667 9.108818,14 8,14 C 4.686291,14 2,11.313707 2,8 C 2,6.8911827 2.319333,5.859929 2.84375,4.96875 l 0.75,0.75 L 5.5,7.65625 L 4.8125,8.34375 L 3.1875,6.75 C 3.13641,6.94534 3.08978,7.1398623 3.0625,7.34375 C 3.0547,7.396156 3.03732,7.4470287 3.03125,7.5 C 3.01418,7.6680854 3,7.827411 3,8 C 3,8.172589 3.01418,8.3319146 3.03125,8.5 C 3.04832,8.6680853 3.060448,8.837256 3.09375,9 C 3.559981,11.278415 5.583754,13 8,13 c 0.2482626,0 0.4801862,-0.02756 0.71875,-0.0625 C 8.8549993,12.91755 8.9925532,12.90571 9.125,12.875 c 0.2865815,-0.06695 0.547624,-0.166647 0.8125,-0.28125 c 0.030718,-0.01299 0.063349,-0.01766 0.09375,-0.03125 c 0.08886,-0.04062 0.164735,-0.108612 0.25,-0.15625 h 0.03125 z");
            }
        }
    }
    &.set-custom-thumbnail path {
        transform: matrix(0.8,0,0,0.8,-0.4,-1.2);
        d: path("M 10,4 V 11 H 3 V 12 H 10 V 19 H 11 V 12 H 18 V 11 H 11 V 4 Z");
    }
}



button.close.circular svg path {
    fill: var(--colorFg);
    transform: matrix(1.6666667,0,0,1.6666667,-5.3333335,-5.3333335);
    d: path("M 5.7070312,5 L 5,5.7070312 L 7.2929688,8 L 5,10.292969 L 5.7070312,11 L 8,8.7070312 L 10.292969,11 L 11,10.292969 L 8.7070312,8 L 11,5.7070312 L 10.292969,5 L 8,7.2929688 Z");
}

.SpeedDialView-Settings-Button path, .button-toolbar.button-show-setting path {
    d: path("M 10.666667,0 C 9.424024,0 8.379283,0.849734 8.083332,2 H 0 V 3.3333333 H 8.083332 C 8.379283,4.4835993 9.424024,5.3333333 10.666667,5.3333333 C 11.909302,5.3333333 12.954056,4.4835993 13.249994,3.3333333 H 16 V 2 H 13.249994 C 12.954056,0.849734 11.909302,0 10.666667,0 Z M 4,9.333336 C 2.7573591,9.333336 1.7126172,10.183062 1.4166667,11.333333 H 0 V 12.666667 H 1.4166667 C 1.7126172,13.816938 2.7573591,14.666667 4,14.666667 C 5.2426409,14.666667 6.2873828,13.816938 6.5833333,12.666667 H 6.6666667 H 9.333334 H 16 V 11.333333 H 9.333334 H 6.6666667 H 6.5833333 C 6.2873828,10.183062 5.2426409,9.333336 4,9.333336 Z M 4,10.666667 C 4.7363733,10.666667 5.3333333,11.263627 5.3333333,12 C 5.3333333,12.736373 4.7363733,13.333333 4,13.333333 C 3.2636267,13.333333 2.6666667,12.736373 2.6666667,12 C 2.6666667,11.263627 3.2636267,10.666667 4,10.666667 Z");
}


.Switch-Button {
    border: 1.0px solid $colorScrollBarBdr !important;
    transition: border 0.1s !important;

    &:hover {
        border: 1.0px solid $colorHighlightBdr !important;
    }

}

.Switch-Input {
    border: 1.0px solid $colorInputBtnBdr !important;
    background-image: none !important;
    box-shadow: none !important;
    transition: border 0.1s !important;

    &:checked {
        border: 1.0px solid $colorHighlightBdr !important;
        background-color: $colorRangeBdrSwitchOnBg !important;
    }
}

input[type=checkbox] {
    background-image: none !important;
    background-color: $colorInputBg !important;
    border: 1.0px solid $colorInputBtnBdr !important;
    transition: border 0.1s !important;
    &:hover {
        border: 1.0px solid $colorHighlightBdr !important;
        transition-duration: 5ms !important;
    }
    &:active {
        filter: none !important;
    }
    &:checked {
        background-color: $colorCkBxOnBg !important;
        border: 1.0px solid $colorHighlightBdr !important;
        &:before {
            background-color: var(--colorFg) !important;
            transform: rotate(-45deg) translateY(42%) translateX(-28%) scaleX(0.15) scaleY(0.35) !important;
        }
        &:after {
            background-color: var(--colorFg) !important;
            transform: rotate(225deg) translateY(-28%) translateX(-90%) scaleX(0.16) scaleY(0.72) !important;
            transition-duration: 5ms !important;
        }
    }
}

input[type=radio] {
    background-image: none !important;
    background-color: $colorInputBg !important;
    border: 1.0px solid #5F6265 !important;

    &:hover {
        border: 1.0px solid $colorHighlightBdr !important;
    }
    &:active {
        border: 1.0px solid $colorHighlightBdr !important;
        box-shadow: none !important;
        filter: none !important;
    }
    &:checked, &:checked:active {
        background-color: var(--colorFg) !important;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, inset 0 0 0 4px $colorBtnActiveHvrBg !important;
        transition: none !important;
        border: 1.0px solid $colorHighlightBdr !important;
    }
}

input[type=search], input[type=text]:not(#urlFieldInput) {
    @include search-field;
}


select {
   border: 1.0px solid $colorInputBtnBdr !important;
   background-color: var(--colorWindowBg) !important;
   height: 29.5px !important;

    &:hover {
        border: 1.0px solid $colorHighlightBdr !important;
    }
    &:active, &:focus-visible {
        outline: 0px !important;
        background-color: $colorBtnActiveHvrBg !important;
        border: 1.0px solid $colorHighlightBdr !important;
    }
    &:not([multiple]):not([size]), input[type=date] {
        background-image: url("whitearrow.png");
        background-size: 15.2px;
        background-repeat: no-repeat;
        background-position: right center;

    }
}

input[type=date] {
    background-image: url("whitearrow.png");
    background-size: 15.2px;
    background-repeat: no-repeat;
    background-position: right center;
}

input[type="range" i] {
    background-color: $colorRangeBdrSwitchOnBg;
    border: 1.0px solid $colorHighlightBdr;
    border-radius: 12px;
    height: 6px;

    &:disabled {
        border-color: #1F485E;
        background-color: #243B48;
        opacity: 1;
    }
    &::-webkit-slider-thumb {
        border: 1.0px solid #7E8083;
        height: 18px;
        width: 18px;
        transition: border-color 0.15s;
        &:hover, &:active {
            border: 1.0px solid $colorHighlightBdr;
        }
    }
}

.vivaldi-settings {
    .settings-sidebar {
        box-shadow: none;
        border-right: 0.9px solid var(--colorBorderSubtle);
        .settings-navigation-header {
            border-bottom: 0.9px solid var(--colorBorderSubtle);
        }
        .ReactVirtualized__Grid.ReactVirtualized__List {
            background-color: $colorInputBg;
            .button-category {
                margin: 0px;
                border-radius: 0px;
                &.category-selected {
                    background-color: $colorHighlightBdr;
                }
                &.spacer {
                    border-top: 0.9px solid var(--colorBorderSubtle);
                }
            }
        }
    }
    .settings-content {
        background-color: var(--colorBg) !important;
        .tree-row.folder {
            .expand-icon {
                svg {
                    path {
                        d: path("M 7.5,4.9730007 L 3.0270617,9.446 L 2.5,8.9189402 L 6.445881,4.9730007 L 2.5,1.0270688 L 3.0270617,0.5 Z");
                    }
                }
            }
        }
    }
}


::-webkit-scrollbar-track {
    margin: 5.5px;
    &:hover {
        background-color: $colorScrollBarTrackHvrBg !important;
        border: 1px solid $colorScrollBarTrackBdr;
        border-radius: calc(var(--scrollbarWidth) / 2);
    }
}
.theme-dark {
    ::-webkit-scrollbar-thumb {
        border:1.0px solid $colorScrollBarBdr !important;
        background-color: $colorScrollBarBg !important;
        &:hover {
            border:1.0px solid $colorHighlightBdr !important;
            background-color: $colorCkBxOnBg !important;
        }
    }
}
::-webkit-scrollbar {
    width: 7.7px;
}


// More start page stuff

#browser {
    #webpage-stack {
        nav.startpage-navigation {
            background-color: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(20px);

            .startpage-navigation-group:last-of-type {
                border-left-width: 0;
            }
        }

        .dial {
            background-color: rgba(255, 255, 255, 0.75) !important;
            backdrop-filter: blur(10px);
            transition: all 100ms ease;
            border: 2px solid transparent;

            &:hover {
                margin-top: 0;
                border: 2px solid $colorHighlightBdr;
                box-shadow: 0px 0px 6px 1px $colorHighlightBdr;
            }
        }
    }

    &.theme-dark #webpage-stack {
        nav.startpage-navigation {
            background-color: rgba(42,46,50, 0.75);
            color: #fff;
        }

        .dial {
            background-color: rgba(42,46,50, 0.75) !important;
            color: rgba(255,255,255, 0.9);
        }
    }
}
