@import "variables";

@mixin search-field {
    height: 29.5px;
    border-radius: 2px;
    border: 1.0px solid $colorGeneralBdr !important;
    background-color: $colorInputBg !important;
    transition: border 0.1s;

    &:focus-within, &:hover {
        outline: 0px !important;
        border-color: $colorHighlightBdr !important;
    }
}


input[type=text]:not(#urlFieldInput) {
    @include search-field;
}
