@import "settings-sidebar-icons";


.vivaldi-settings {
    .settings-sidebar {
        box-shadow: none;
        border-right: 0.9px solid $colorBdrSettingsSidebar;
        .settings-navigation-header {
            border-bottom: 0.9px solid $colorBdrSettingsSidebar;

        }
        .settings-navigation {
            > .ReactVirtualized__Grid.ReactVirtualized__List {
                border: 0px;
                border-radius: 0px;
               // height: 720px !important;
               // min-height: 740px !important;
                &:hover {
                    border-color: $colorSearchBdr;
                }
                //overflow: scroll !important;
               // z-index: 0;
                //&::-webkit-scrollbar {
                  //     display: none;
                    //}

               // .ReactVirtualized__Grid__innerScrollContainer {
                    //border-right: 1px solid rgb(49, 52, 54);
                   // max-height: 159vh !important;

                    //height: 159vh !important;
                 //   overflow: scroll !important;
                   // z-index: 1;

                //}
            }
        }
    }
    .settings-content {
        background-color: var(--colorBg) !important;
        .tree-row.folder {
            .expand-icon {
                svg {
                    path {
                        d: path("M 7.5,4.9730007 L 3.0270617,9.446 L 2.5,8.9189402 L 6.445881,4.9730007 L 2.5,1.0270688 L 3.0270617,0.5 Z");
                    }
                }
            }
        }
    }
}

.master-detail {
    border: 1px solid $colorBdrSettingsSidebar !important;
    border-radius: 3px !important;
    .master-toolbar {
        border: 1px solid rgba(0,0,0,0.0) !important;
        border-top: 1px solid $colorBdrSettingsSidebar !important;

        select.button-toolbar {
            z-index: 0;
            background-image: url(./resources/add.png);
            background-size: 12px;
            background-position: center !important;
            border-radius: 0px !important;
        }
        button.button-toolbar {
            border: 1px solid rgba(0,0,0,0.0) !important;
            @include button($colorBtnMasterToolbar, $colorBtnMasterToolbar, 0px);

            &.button-move-up {
                svg path {
                    d: path($upArrowIcon16);
                }
            }
            &.button-move-down {
                svg path {
                    d: path($downArrowIcon16);
                }
            }
        }
    }
    .master-items {
        border: 0px !important;
        background-color: $colorInputBg !important;
        background-image: none !important;
        .item {
            &.item-selected {
                background-color: $colorItemInactive;
            }
            &:hover:not(.item-selected) {
                background-color: $colorCategoryHover;
            }
        }
    }
    .master-layout-single, .master-layout-double {
        border: 0px solid rgba(0,0,0,0.0) !important;
        border-right: 1px solid $colorBdrSettingsSidebar !important;
    }
    .detail {
        border: 1px solid rgba(0,0,0,0.0);
        .detail-toolbar {
            border-top: 1px solid $colorBdrSettingsSidebar
        }
    }
}


.Inner__control {
    border: 1.0px solid $colorInputBtnBdr !important;
    background-color:  var(--colorTabBar) !important;
    height: 29.5px !important;
    &:hover {
        border: 1.0px solid $colorHighlightBdr !important;
    }
    &:active, &:focus-within {
        outline: 0px !important;
        background-color: $colorBtnActiveHvrBg !important;
        border: 1.0px solid $colorHighlightBdr !important;

    }
    .Inner__indicator {
        background-image: url("./resources/downarrow.png") !important;
        background-size: 15.2px !important;
        background-repeat: no-repeat;
        background-position: right center;
    }

    .Inner__input {
        input[id^=react-select-] {
            background-color: transparent !important;
            border: none !important;
        }
    }
}

.gesture-map.setting-single {
    select {
        height: 200px !important;
    }
}

.settings-content {
    h2 {
        border-bottom: 1px solid $colorBdrSettingsSidebar !important;
    }
}
.keystrokes {
    border: 1px solid $colorBdrSettingsSidebar !important;
    border-radius: 3px;
    .category {
        &.hide {
            background-color: $colorInputBg;
            button {
                &:after {
                    -webkit-mask-image: url(./resources/downarrow_cropped.png);
                    transform: rotate(-90deg);
                    transition: transform 100ms linear;
                    -webkit-mask-size: cover;
                    -webkit-mask-position: 0px;
                    width: 16px;
                    height: 8.5px;
                    top: 14px;
                }
            }

            &:hover {
                background-color: $colorCategoryHover;
            }
        }
        &.show {
            button {
                background-color: $colorBtnActiveHvrBg;
                border: 1px solid $colorHighlightBdr;

                &:after {
                    -webkit-mask-image: url(./resources/downarrow_cropped.png);
                    transition: transform 100ms linear;
                    -webkit-mask-size: cover;
                    -webkit-mask-position: 0px;
                    width: 16px;
                    height: 8.5px;
                    top: 14px;
                }
            }
            .multiinput {
                border: none;
                outline: none;
            }
            .circular {
                &.clearkey {
                    -webkit-mask-image: url(./resources/window-close-symbolic.png);
                }
                &.restorekey {
                    -webkit-mask-image: url(./resources/view-refresh-symbolic.png);
                }
            }
        }
    }
}

hr.separator, .separator-left, .separator-right {
    border: 0.5px solid $colorMenuSeparator !important;
}

