.button-startpage.add-set {
    svg path {
        d: path("M 7.2727258,0 V 7.262919 H 0 V 8.71436 H 7.2727258 V 16 H 8.72727 V 8.71436 H 16 V 7.262919 H 8.72727 V 0 Z");
    }
}

.circular {
    &:hover {
        opacity: 1 !important;
    }
    &.update-thumbnail svg path {
        d: path($refreshIcon16);
    }
    &.set-custom-thumbnail svg path {

        d: path($addIcon16);
    }
    &.close {
        @include inner-close-button;
        svg path {
            fill: var(--colorFg);
            d: path($innerCloseIcon);
        }
    }
}

.SpeedDialView-Settings-Button path, .button-toolbar.button-show-setting path {
    d: path("M 10.666667,0 C 9.424024,0 8.379283,0.849734 8.083332,2 H 0 V 3.3333333 H 8.083332 C 8.379283,4.4835993 9.424024,5.3333333 10.666667,5.3333333 C 11.909302,5.3333333 12.954056,4.4835993 13.249994,3.3333333 H 16 V 2 H 13.249994 C 12.954056,0.849734 11.909302,0 10.666667,0 Z M 4,9.333336 C 2.7573591,9.333336 1.7126172,10.183062 1.4166667,11.333333 H 0 V 12.666667 H 1.4166667 C 1.7126172,13.816938 2.7573591,14.666667 4,14.666667 C 5.2426409,14.666667 6.2873828,13.816938 6.5833333,12.666667 H 6.6666667 H 9.333334 H 16 V 11.333333 H 9.333334 H 6.6666667 H 6.5833333 C 6.2873828,10.183062 5.2426409,9.333336 4,9.333336 Z M 4,10.666667 C 4.7363733,10.666667 5.3333333,11.263627 5.3333333,12 C 5.3333333,12.736373 4.7363733,13.333333 4,13.333333 C 3.2636267,13.333333 2.6666667,12.736373 2.6666667,12 C 2.6666667,11.263627 3.2636267,10.666667 4,10.666667 Z");
}

#browser {
    #webpage-stack {
        nav.startpage-navigation {
            background-color: rgba(255, 255, 255, 0.75);
            backdrop-filter: blur(20px);

            .startpage-navigation-group:last-of-type {
                border-left-width: 0;
            }
        }

        .dial {
            background-color: rgba(255, 255, 255, 0.75) !important;
            backdrop-filter: blur(10px);
            transition: all 100ms ease;
            border: 2px solid transparent;

            &:hover {
                margin-top: 0;
                border: 2px solid $colorHighlightBdr;
                box-shadow: 0px 0px 6px 1px $colorHighlightBdr;
            }
        }
    }

    &.theme-dark #webpage-stack {
        nav.startpage-navigation {
            background-color: rgba(42,46,50, 0.75);
            color: #fff;
        }

        .dial {
            background-color: rgba(42,46,50, 0.75) !important;
            color: rgba(255,255,255, 0.9);
        }
    }
}

.Privacy-Stats-Board.TabbedView {
    border: 0px;
    .TabbedView-List {
        border: 1px solid $colorBdrSettingsSidebar !important;
    }
    .TabbedView-Content {
        .sortselector.sortselector-tableheader {
            border-left: 1px solid $colorBdrSettingsSidebar !important;
            border-right: 1px solid $colorBdrSettingsSidebar !important;
            padding-right: 0px;
            .sortselector-button {
                height: 22px;
                &:hover {
                    background-color: $colorSortSelectorHvr;
                }
            }
            .SlideBar.SlideBar--FullHeight.alternate {
                background-color: $colorSortSelectorSlider;
                border-width: 0 3.5px;
            }
        }
        .ReactVirtualized__Grid.ReactVirtualized__List {
            border-radius: 0px 0px 3px 3px;
        }
    }
}
