.mainbar {
    .toolbar-mainbar {
        height: 50px;
        border-bottom: 1px solid $colorBdrSettingsSidebar !important;
        .UrlBar-AddressField{
            @include search-field;

            .BookmarkButton {
                border: 0px;
                #addBookmarkPath {
                    path {
                        fill: var(--colorFg) !important;
                    }
                    :not(&).bookmark-animated-fill {
                        fill: var(--colorFg) !important;
                    }
                    :not(&).bookmark-outline {
                        fill: var(--colorFg) !important;
                    }
                    :not(&).add-bookmark-shadow {
                        fill: none !important;
                    }
                }
            }

            .drop-down-menu > button > svg path {
                fill-rule: evenodd;
                d: path("M8 11.707l-6-6L2.707 5 8 10.293 13.293 5l.707.707-6 6z");
            }

            .dialog-content {
                background-color: var(--colorBg);
            }
        }
    }
}


button[name=PanelBookmarks], button[name=PanelHistory], button[name=PanelNotes] {
   padding-right: 5px;
}

.OmniDropdown {
    border-radius: 2px;
    border: 1.0px solid $colorSearchBdr;
    background-color: $colorInputBg;
    transition: border 0.15s;
    padding: 0px;
    &:hover {
        border: 1px solid $colorHighlightBdr;
    }

    .Omni-Dropdown-Label, .omni-clickable {
        --item-height: 29px;
        border-radius: 0px;
        &:hover {
            .OmniLinkItem-EraseButton {
                @include inner-close-button;
                svg path {
                    d: path("M 4.6253,12.21839 8,8.84369 l 3.3747,3.3747 h 0.84369 V 11.3747 L 8.84369,8 12.21839,4.6253 V 3.78161 H 11.3747 L 8,7.15631 4.6253,3.78161 H 3.78161 V 4.6253 L 7.15631,8 3.78161,11.3747 v 0.84369 z");
                }
            }
            &:not(.OmniLinkItem--Highlighted) {
                background-color: $colorCategoryHover;
            }

        }
    }
    .OmniLinkItem--Highlighted {
        .OmniLinkItem-EraseButton {
            svg path {
                d: path("m 0 0");
            }
        }
    }
}

.button-addressfield.SiteInfoButton.internal {
    svg path {
        transform: matrix(0.75,0,0,0.75,-0.25,-0.25);
        d: path("M 9,3 C 5.6759952,3 3,5.6759952 3,9 C 3,12.324005 5.6759952,15 9,15 C 10.481205,15 11.830584,14.465318 12.875,13.582031 L 18.292969,19 L 19,18.292969 L 13.582031,12.875 C 14.465318,11.830584 15,10.481205 15,9 C 15,5.6759952 12.324005,3 9,3 Z M 9,4 C 11.770005,4 14,6.2299952 14,9 C 14,11.770005 11.770005,14 9,14 C 6.2299952,14 4,11.770005 4,9 C 4,6.2299952 6.2299952,4 9,4 Z");
    }
}

.sortselector-compact {
    margin-bottom: 13px !important;
    height: 30px;
    padding-right: 0px;
    .sortselector-area {
        height: 30px;
    }
    .sortselector-button {
        padding: 14px 18px !important;
    }
}


footer {
    height: 35px !important;
    border: 0px rgba(0,0,0,0.0)!important;
    .toolbar-statusbar {
        height: 33px !important;
        button {
            padding-right: 5px;
        }
    }
    &:after {
        bottom: 34px !important;
        background-color: rgba(0,0,0,0.0) !important;
    }
}


.button-popup {
    max-height: fit-content;
    box-shadow: 0 0 0 1px $colorSearchBdr, 0 2px 6px rgba(0, 0, 0, 0.25);

    &.download-popout {
        height: 500px !important;
    }
    .BookmarkPopup {
        background-color: var(--colorBg);
        .BookmarkInputField {
            border-bottom: none !important;
            &:focus-within {
                border-bottom: 0px solid transparent!important;
                box-shadow: none !important;
            }
        }
    }
}

.panel {
    .SlideBar--FullWidth.alternate {
        border-color: $colorBdrSettingsSidebar !important;
        &:hover {
            border-color: var(--colorHighlightBg) !important;
        }
    }
    section.download-editor {
        overflow-y: auto !important;
        margin-right: calc(var(--scrollbarWidth) * -1);

        .data.downloads-cardwrapper {
            max-width: 97%;
        }
    }
}

