$colorTabbedViewBg: #26292d;

$colorBtnMasterToolbar: #2E3236;
$colorItemInactive: #1F485E;

$colorCategoryHover: #25495C;

$colorTrim: #64686B;
$colorBdrSettingsSidebar: #454B50;
$colorHighlightBdr: var(--colorHighlightBg);

$colorCloseTitleBtnBg: #DA4453;
$colorCloseTitleBtnonHvrBg: #FF98A2;
$colorCloseTitleBtnActiveBg: #6D2229;

$colorMinMaxBtnActiveBg: #6C6F73;

$colorCloseBtnBg: #898B8C;
$colorCloseBtnActiveHvrBg: #A53D49;
$colorCloseBtnActiveBg: #823943;

$colorSearchBdr: #5F6265;
$colorBtnActiveHvrBg: #355D75;

$colorStackCounter: #4460da;

$colorScrollBarBdr: #797B7D;
$colorScrollBarBg: #424546;

$colorScrollBarTrackBdr: #595C5D;
$colorScrollBarTrackHvrBg: #313436;

$colorInactiveTabHvrBdr: #2E4857;
$colorInactiveTabBg: #23262A;
$colorInactiveTabHvrBg: #587180;

$colorInputBtnBdr: #6E7175;
$colorInputBg: #1B1E20;
$colorCkBxOnBg: #2D546B;
$colorRangeBdrSwitchOnBg: #346E8E;

