@import "./variables";


/*
 A: In order to have window shade you also need to:
      1. setup a kwin window rule to setting "Window class"="vivaldi-stable" and "No titlebar and frame"="Force No"
      2. setup a Windows specifi override in Breeze theme (click on the pen icon over in the corner of the preview)
          setting "Window class"=vivaldi-stable and select "No border"
 B: To get rounded corners for the Vivaldi window when using window shade, use "KDE-Rounded-Corners" by matinlotfali: https://github.com/matinlotfali/KDE-Rounded-Corners
*/

@mixin button-commons {
    border-radius: 10px;
    border-width: 2px;
    width: 18px !important;
    height: 18px !important;
    padding: 0 0 0 0;
}

.window-buttongroup {
    .window-minimize {
        @include button-commons;
        border-color: var(--colorAccentIntense);
        background-color: var(--colorAccentIntense) !important;
        margin-right: 6.00px !important;
        &:hover {
            border-color: var(--colorBg);
            background-color: var(--colorFg) !important;
            fill: var(--colorWindowBg) !important;
        }
        &:active {
            background-color: $colorMinMaxBtnActiveBg !important;
            fill: var(--colorWindowBg) !important;
        }

        svg {
            path {
                d: path("M 0.5,3.1  5.0,7.6  9.50,3.1  10.5,3.5  5.0,9  -0.5,3.5 Z");
            }
        }
    }

    button.window-maximize {
        @include button-commons;
        border-color: var(--colorAccentIntense);
        background-color: var(--colorAccentIntense) !important;
        padding: 1px 0px 0 0px !important;
        /* leave a little space before the close button */
        margin: 0px 4px 0px 0px !important;
        &:hover {
            border-color: var(--colorBg);
            background-color: var(--colorFg) !important;
            fill: var(--colorWindowBg) !important;
        }
        &:active {
            background-color: $colorMinMaxBtnActiveBg !important;
            fill: var(--colorWindowBg) !important;
        }

        svg {
            .window-maximize-glyph {
                path {
                    d: path("M 0.5,8 5,3.5 9.5,8 11,8 5,2 -1,8 Z");
                }
            }
            .window-restore-glyph {
                path {
                    d: path("M 1,5 5,1 9,5 10.5,5 5,-0.5 -0.5,5 1,5 5,9 9,5 10.5,5 5,10.5 -0.5,5 Z");
                }
            }
        }
    }

    .window-close {
        @include button-commons;
        border-color: var(--colorBg) !important;
        background-color: $colorCloseTitleBtnBg !important;
        fill: var(--colorWindowBg) !important;
        margin-right: 0.37px !important;
        &:hover {
            background-color: $colorCloseTitleBtnonHvrBg !important;
        }
        &:active {
            background-color: $colorCloseTitleBtnActiveBg !important;
        }

        svg {
            path {
                d: path("M9.5,1.2 l-0.7,-0.7 L5,4.3 L1.2,0.5 l-0.7,0.7 L4.3,5 L0.5,8.8 l0.7,0.7 L5,5.7 l3.8,3.8 l0.7,-0.7 L5.7,5");
            }
        }
    }
}


