/*
 A: In order to have window shade you also need to:
      1. setup a kwin window rule to setting "Window class"="vivaldi-stable" and "No titlebar and frame"="Force No"
      2. setup a Windows specifi override in Breeze theme (click on the pen icon over in the corner of the preview)
          setting "Window class"=vivaldi-stable and select "No border"
 B: To get rounded corners for the Vivaldi window when using window shade, use "KDE-Rounded-Corners" by matinlotfali: https://github.com/matinlotfali/KDE-Rounded-Corners
*/
.window-buttongroup .window-minimize {
  border-radius: 10px;
  border-width: 2px;
  width: 18px !important;
  height: 18px !important;
  padding: 0 0 0 0;
  border-color: var(--colorAccentIntense);
  background-color: var(--colorAccentIntense) !important;
  margin-right: 6px !important;
}
.window-buttongroup .window-minimize:hover {
  border-color: var(--colorBg);
  background-color: var(--colorFg) !important;
  fill: var(--colorTabBar) !important;
}
.window-buttongroup .window-minimize:active {
  background-color: #6C6F73 !important;
  fill: var(--colorTabBar) !important;
}
.window-buttongroup .window-minimize svg path {
  d: path("M 0.5,3.1  5.0,7.6  9.50,3.1  10.5,3.5  5.0,9  -0.5,3.5 Z");
}
.window-buttongroup button.window-maximize {
  border-radius: 10px;
  border-width: 2px;
  width: 18px !important;
  height: 18px !important;
  padding: 0 0 0 0;
  border-color: var(--colorAccentIntense);
  background-color: var(--colorAccentIntense) !important;
  padding: 1px 0px 0 0px !important;
  /* leave a little space before the close button */
  margin: 0px 4px 0px 0px !important;
}
.window-buttongroup button.window-maximize:hover {
  border-color: var(--colorBg);
  background-color: var(--colorFg) !important;
  fill: var(--colorTabBar) !important;
}
.window-buttongroup button.window-maximize:active {
  background-color: #6C6F73 !important;
  fill: var(--colorTabBar) !important;
}
.window-buttongroup button.window-maximize svg .window-maximize-glyph path {
  d: path("M 0.5,8 5,3.5 9.5,8 11,8 5,2 -1,8 Z");
}
.window-buttongroup button.window-maximize svg .window-restore-glyph path {
  d: path("M 1,5 5,1 9,5 10.5,5 5,-0.5 -0.5,5 1,5 5,9 9,5 10.5,5 5,10.5 -0.5,5 Z");
}
.window-buttongroup .window-close {
  border-radius: 10px;
  border-width: 2px;
  width: 18px !important;
  height: 18px !important;
  padding: 0 0 0 0;
  border-color: var(--colorBg) !important;
  background-color: #DA4453 !important;
  fill: var(--colorTabBar) !important;
  margin-right: 0.37px !important;
}
.window-buttongroup .window-close:hover {
  background-color: #FF98A2 !important;
}
.window-buttongroup .window-close:active {
  background-color: #6D2229 !important;
}
.window-buttongroup .window-close svg path {
  d: path("M9.5,1.2 l-0.7,-0.7 L5,4.3 L1.2,0.5 l-0.7,0.7 L4.3,5 L0.5,8.8 l0.7,0.7 L5,5.7 l3.8,3.8 l0.7,-0.7 L5.7,5");
}

#tabs-container.top {
  border-bottom: 1px solid #5F6265;
}

.tab-strip span .tab.active {
  border-radius: 3px 3px 0 0 !important;
  border-top: 3.5px solid var(--colorHighlightBg);
  border-right: 1px solid #5F6265;
  border-left: 1px solid #5F6265;
  margin: 0 -2px -1px -2px;
  background-color: var(--colorBg) !important;
}
.tab-strip span .tab:not(.active) {
  border-radius: 0 0 0 0 !important;
  border-top: 0px solid var(--colorAccentBorderDark);
  border-right: 0px solid var(--colorAccentBorderDark);
  border-left: 0px solid var(--colorAccentBorderDark);
  margin: 0px 0px 0px 0px !important;
  background-color: #23262A !important;
  transition: background-color 0.15s;
}
.tab-strip span .tab:not(.active):hover {
  border-bottom: 0.6px solid #587180;
  border-color: #587180;
  background-color: #2E4857 !important;
  outline-color: #2E4857;
}
.tab-strip span .tab .stack-counter {
  background-color: var(--colorBg) !important;
  border-radius: 10px !important;
  font-size: 8px !important;
  color: #4460da !important;
  padding-top: 2px;
  padding-left: 1px;
  padding-right: 1px;
  height: 12px;
  min-width: 12px;
}
.tab-strip span:first-child .tab:not(.active) {
  border-radius: 3px 0px 0px 0px !important;
}
.tab-strip span:nth-last-child(2) .tab:not(.active) {
  border-radius: 0px 3px 0px 0px !important;
}

.close {
  border-radius: 10px;
  background-color: #898B8C;
  fill: var(--colorBg) !important;
}
.close:hover {
  background-color: #823943;
}
.close:hover:active {
  background-color: #A53D49;
}
.close:active {
  background-color: #823943;
}
.close svg path {
  d: path("M 4.6253,12.21839 8,8.84369 l 3.3747,3.3747 h 0.84369 V 11.3747 L 8.84369,8 12.21839,4.6253 V 3.78161 H 11.3747 L 8,7.15631 4.6253,3.78161 H 3.78161 V 4.6253 L 7.15631,8 3.78161,11.3747 v 0.84369 z");
}

.newtab {
  margin: 3.5px 0px 0px 2px;
}
.newtab button svg path {
  transform: matrix(1.0666667, 0, 0, 1.0666667, 2.7999999, 1.7333332);
  d: path("M 10,4 V 11 H 3 V 12 H 10 V 19 H 11 V 12 H 18 V 11 H 11 V 4 Z");
}

.mainbar .toolbar-mainbar {
  height: 50px;
  border-bottom: 1px solid #454B50 !important;
}
.mainbar .toolbar-mainbar .UrlBar-AddressField {
  height: 29.5px;
  border-radius: 2px;
  border: 1px solid #5F6265 !important;
  background-color: #1B1E20 !important;
  transition: border 0.1s;
}
.mainbar .toolbar-mainbar .UrlBar-AddressField:focus-within, .mainbar .toolbar-mainbar .UrlBar-AddressField:hover {
  outline: 0px !important;
  border-color: var(--colorHighlightBg) !important;
}
.mainbar .toolbar-mainbar .UrlBar-AddressField .BookmarkButton {
  border: 0px;
}
.mainbar .toolbar-mainbar .UrlBar-AddressField .BookmarkButton #addBookmarkPath path {
  fill: var(--colorFg) !important;
}
:not(.mainbar .toolbar-mainbar .UrlBar-AddressField .BookmarkButton #addBookmarkPath).bookmark-animated-fill {
  fill: var(--colorFg) !important;
}
:not(.mainbar .toolbar-mainbar .UrlBar-AddressField .BookmarkButton #addBookmarkPath).bookmark-outline {
  fill: var(--colorFg) !important;
}
:not(.mainbar .toolbar-mainbar .UrlBar-AddressField .BookmarkButton #addBookmarkPath).add-bookmark-shadow {
  fill: none !important;
}
.mainbar .toolbar-mainbar .UrlBar-AddressField .drop-down-menu > button > svg path {
  fill-rule: evenodd;
  d: path("M8 11.707l-6-6L2.707 5 8 10.293 13.293 5l.707.707-6 6z");
}
.mainbar .toolbar-mainbar .UrlBar-AddressField .dialog-content {
  background-color: var(--colorBg);
}

.button-toolbar:not(.BookmarkLocationSelector-AddFolderButton) .ToolbarButton-Button {
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: 3px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  background-image: none !important;
  transition: border 0.1s;
}
.button-toolbar:not(.BookmarkLocationSelector-AddFolderButton) .ToolbarButton-Button:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: rgba(0, 0, 0, 0) !important;
}
.button-toolbar:not(.BookmarkLocationSelector-AddFolderButton) .ToolbarButton-Button:active {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  transition: background-color 0.1s;
}
.button-toolbar:not(.BookmarkLocationSelector-AddFolderButton) .ToolbarButton-Button:active:hover {
  background-color: #355D75 !important;
}
.button-toolbar:not(.BookmarkLocationSelector-AddFolderButton) .ToolbarButton-Button.button-pressed, .button-toolbar:not(.BookmarkLocationSelector-AddFolderButton) .ToolbarButton-Button.button-pressed:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: #355D75 !important;
}

button[name=PanelBookmarks], button[name=PanelHistory], button[name=PanelNotes] {
  padding-right: 5px;
}

.OmniDropdown {
  border-radius: 2px;
  border: 1px solid #5F6265;
  background-color: #1B1E20;
  transition: border 0.15s;
  padding: 0px;
}
.OmniDropdown:hover {
  border: 1px solid var(--colorHighlightBg);
}
.OmniDropdown .Omni-Dropdown-Label, .OmniDropdown .omni-clickable {
  --item-height: 29px;
  border-radius: 0px;
}
.OmniDropdown .Omni-Dropdown-Label:hover:not(.OmniLinkItem--Highlighted), .OmniDropdown .omni-clickable:hover:not(.OmniLinkItem--Highlighted) {
  background-color: #25495C;
}
.OmniDropdown .Omni-Dropdown-Label:hover .OmniLinkItem-EraseButton, .OmniDropdown .omni-clickable:hover .OmniLinkItem-EraseButton {
  border-radius: 10px;
  background-color: #898B8C;
  fill: var(--colorBg) !important;
}
.OmniDropdown .Omni-Dropdown-Label:hover .OmniLinkItem-EraseButton:hover, .OmniDropdown .omni-clickable:hover .OmniLinkItem-EraseButton:hover {
  background-color: #823943;
}
.OmniDropdown .Omni-Dropdown-Label:hover .OmniLinkItem-EraseButton:hover:active, .OmniDropdown .omni-clickable:hover .OmniLinkItem-EraseButton:hover:active {
  background-color: #A53D49;
}
.OmniDropdown .Omni-Dropdown-Label:hover .OmniLinkItem-EraseButton:active, .OmniDropdown .omni-clickable:hover .OmniLinkItem-EraseButton:active {
  background-color: #823943;
}
.OmniDropdown .Omni-Dropdown-Label:hover .OmniLinkItem-EraseButton svg path, .OmniDropdown .omni-clickable:hover .OmniLinkItem-EraseButton svg path {
  d: path("M 4.6253,12.21839 8,8.84369 l 3.3747,3.3747 h 0.84369 V 11.3747 L 8.84369,8 12.21839,4.6253 V 3.78161 H 11.3747 L 8,7.15631 4.6253,3.78161 H 3.78161 V 4.6253 L 7.15631,8 3.78161,11.3747 v 0.84369 z");
}
.OmniDropdown .OmniLinkItem--Highlighted .OmniLinkItem-EraseButton svg path {
  d: path("m 0 0");
}

.button-addressfield.SiteInfoButton.internal svg path {
  transform: matrix(0.75, 0, 0, 0.75, -0.25, -0.25);
  d: path("M 9,3 C 5.6759952,3 3,5.6759952 3,9 C 3,12.324005 5.6759952,15 9,15 C 10.481205,15 11.830584,14.465318 12.875,13.582031 L 18.292969,19 L 19,18.292969 L 13.582031,12.875 C 14.465318,11.830584 15,10.481205 15,9 C 15,5.6759952 12.324005,3 9,3 Z M 9,4 C 11.770005,4 14,6.2299952 14,9 C 14,11.770005 11.770005,14 9,14 C 6.2299952,14 4,11.770005 4,9 C 4,6.2299952 6.2299952,4 9,4 Z");
}

.sortselector-compact {
  margin-bottom: 13px !important;
  height: 30px;
  padding-right: 0px;
}
.sortselector-compact .sortselector-area {
  height: 30px;
}
.sortselector-compact .sortselector-button {
  padding: 14px 18px !important;
}

footer {
  height: 35px !important;
  border: 0px rgba(0, 0, 0, 0) !important;
}
footer .toolbar-statusbar {
  height: 33px !important;
}
footer:after {
  bottom: 34px !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.button-popup {
  max-height: fit-content;
  box-shadow: 0 0 0 1px #5F6265, 0 2px 6px rgba(0, 0, 0, 0.25);
}
.button-popup .BookmarkPopup {
  background-color: var(--colorBg);
}
.button-popup .BookmarkPopup .BookmarkInputField {
  border-bottom: none !important;
}
.button-popup .BookmarkPopup .BookmarkInputField:focus-within {
  border-bottom: 0px solid transparent !important;
  box-shadow: none !important;
}
.button-popup .BookmarkPopup .dialog-content {
  background: var(--colorBg);
}
.button-popup .BookmarkPopup .dialog-content .BookmarkLocationSelector-AddFolderButton button[name=bookmarkNewFolderButton] {
  border: 1px solid #6E7175;
  border-radius: 3px !important;
  background-color: var(--colorTabBar) !important;
  background-image: none !important;
  transition: border 0.1s;
}
.button-popup .BookmarkPopup .dialog-content .BookmarkLocationSelector-AddFolderButton button[name=bookmarkNewFolderButton]:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
}
.button-popup .BookmarkPopup .dialog-content .BookmarkLocationSelector-AddFolderButton button[name=bookmarkNewFolderButton]:active {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
  transition: background-color 0.1s;
}
.button-popup .BookmarkPopup .dialog-content .BookmarkLocationSelector-AddFolderButton button[name=bookmarkNewFolderButton]:active:hover {
  background-color: #355D75 !important;
}
.button-popup .BookmarkPopup .dialog-footer {
  height: 52.8px !important;
}

.settings-content h2 {
  border-bottom: 1px solid #454B50 !important;
}
.settings-content .keystrokes {
  border: 1px solid #454B50 !important;
  border-radius: 3px;
}
.settings-content .keystrokes .category.hide {
  background-color: #1B1E20;
}
.settings-content .keystrokes .category.hide button:after {
  -webkit-mask-image: url(downarrow_cropped.png);
  transform: rotate(-90deg);
  transition: transform 100ms linear;
  -webkit-mask-size: cover;
  -webkit-mask-position: 0px;
  width: 16px;
  height: 8.5px;
  top: 14px;
}
.settings-content .keystrokes .category.hide:hover {
  background-color: #25495C;
}
.settings-content .keystrokes .category.show button {
  background-color: #355D75;
  border: 1px solid var(--colorHighlightBg);
}
.settings-content .keystrokes .category.show button:after {
  -webkit-mask-image: url(downarrow_cropped.png);
  transition: transform 100ms linear;
  -webkit-mask-size: cover;
  -webkit-mask-position: 0px;
  width: 16px;
  height: 8.5px;
  top: 14px;
}
.settings-content .keystrokes .category.show .multiinput {
  border: none;
  outline: none;
}
.settings-content .keystrokes .category.show .circular.clearkey {
  -webkit-mask-image: url(window-close-symbolic.png);
}
.settings-content .keystrokes .category.show .circular.restorekey {
  -webkit-mask-image: url(view-refresh-symbolic.png);
}

.gesture-map.setting-single select {
  height: 200px !important;
}

.Inner__control {
  border: 1px solid #6E7175 !important;
  background-color: var(--colorTabBar) !important;
  height: 29.5px !important;
}
.Inner__control:hover {
  border: 1px solid var(--colorHighlightBg) !important;
}
.Inner__control:active, .Inner__control:focus-within {
  outline: 0px !important;
  background-color: #355D75 !important;
  border: 1px solid var(--colorHighlightBg) !important;
}
.Inner__control .Inner__indicator {
  background-image: url("downarrow.png") !important;
  background-size: 15.2px !important;
  background-repeat: no-repeat;
  background-position: right center;
}
.Inner__control .Inner__input input[id^=react-select-] {
  background-color: transparent !important;
  border: none !important;
}

.master-detail {
  border: 1px solid #454B50 !important;
  border-radius: 3px !important;
}
.master-detail .master-items {
  border: 0px !important;
  background-color: #1B1E20 !important;
  background-image: none !important;
}
.master-detail .master-items .item.item-selected {
  background-color: #1F485E;
}
.master-detail .master-items .item:hover:not(.item-selected) {
  background-color: #25495C;
}
.master-detail .master-toolbar {
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-top: 1px solid #454B50 !important;
}
.master-detail .master-toolbar select.button-toolbar {
  z-index: 0;
  background-image: url(downarrow_cropped.png);
  background-size: 12px;
  background-position: center !important;
  border-radius: 0px !important;
}
.master-detail .master-toolbar button.button-toolbar {
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: 0px !important;
  background-color: #2E3236 !important;
  background-image: none !important;
  transition: border 0.1s;
}
.master-detail .master-toolbar button.button-toolbar:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: #2E3236 !important;
}
.master-detail .master-toolbar button.button-toolbar:active {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: #2E3236 !important;
  transition: background-color 0.1s;
}
.master-detail .master-toolbar button.button-toolbar:active:hover {
  background-color: #355D75 !important;
}
.master-detail .master-toolbar button.button-toolbar:nth-of-type(1) svg path {
  transform: matrix(0.8, 0, 0, 0.8, -0.4, -1.2);
  d: path("M 10,4 V 11 H 3 V 12 H 10 V 19 H 11 V 12 H 18 V 11 H 11 V 4 Z");
}
.master-detail .master-toolbar button.button-toolbar:nth-of-type(2) svg path {
  d: path("m 2,7.4550779 v 1.0878907 c 4.115672,-6.105e-4 7.9252791,2e-7 12,2e-7 V 7.4550781 c -4.0648358,-5.603e-4 -7.9623522,-2e-7 -12,-2e-7 z");
}
.master-detail .master-toolbar button.button-toolbar:nth-of-type(3) svg path {
  d: path("m 8,4.647 l -6,6 l 0.707,0.707 L 8,6.061 l 5.293,5.293 L 14,10.647 Z");
}
.master-detail .master-toolbar button.button-toolbar:nth-of-type(4) svg path {
  d: path("m 8,11.353 l -6,-6 L 2.707,4.646 L 8,9.939 L 13.293,4.646 L 14,5.353 Z");
}
.master-detail .master-layout-single {
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-right: 1px solid #454B50 !important;
}
.master-detail .detail {
  border: 1px solid rgba(0, 0, 0, 0);
}

.vivaldi-tree {
  border: 1px solid #454B50 !important;
}
.vivaldi-tree .tree-row[data-selected] {
  background-color: #1F485E;
}
.vivaldi-tree .tree-row:hover:not([data-selected]) {
  background-color: #25495C;
}

.TabbedView {
  border: 1px solid #454B50;
  background-color: #1B1E20;
}
.TabbedView .TabbedView-List {
  border: 1px solid #454B50;
  background-color: #26292d;
}
.TabbedView .TabbedView-List button {
  border: 1px solid #6E7175 !important;
  border-radius: 3px !important;
  background-color: var(--colorTabBar) !important;
  background-image: none !important;
  transition: border 0.1s;
}
.TabbedView .TabbedView-List button:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
}
.TabbedView .TabbedView-List button:active {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
  transition: background-color 0.1s;
}
.TabbedView .TabbedView-List button:active:hover {
  background-color: #355D75 !important;
}
.TabbedView .TabbedView-Content .ThemeEditorColorPicker-ColorInput {
  border: 1px solid #454B50;
}
.TabbedView .TabbedView-Content .TabbedView-Footer {
  border-top: 1px solid #454B50;
}
.TabbedView .TabbedView-Content .Button-Manager select {
  height: 82px !important;
}
.TabbedView .TabbedView-Content .sortselector.sortselector-tableheader {
  background-color: var(--colorAccentBg);
  border: none;
}

.toolbar-default .button-toolbar .ToolbarButton-Button {
  border: 1px solid #6E7175 !important;
  border-radius: 3px !important;
  background-color: var(--colorTabBar) !important;
  background-image: none !important;
  transition: border 0.1s;
}
.toolbar-default .button-toolbar .ToolbarButton-Button:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
}
.toolbar-default .button-toolbar .ToolbarButton-Button:active {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
  transition: background-color 0.1s;
}
.toolbar-default .button-toolbar .ToolbarButton-Button:active:hover {
  background-color: #355D75 !important;
}

.button-show-setting .ToolbarButton-Button, input[type=button]:not(.circular), input[type=submit], .privacy-btn-icon {
  border: 1px solid #6E7175 !important;
  border-radius: 3px !important;
  background-color: var(--colorTabBar) !important;
  background-image: none !important;
  transition: border 0.1s;
}
.button-show-setting .ToolbarButton-Button:hover, input[type=button]:not(.circular):hover, input[type=submit]:hover, .privacy-btn-icon:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
}
.button-show-setting .ToolbarButton-Button:active, input[type=button]:not(.circular):active, input[type=submit]:active, .privacy-btn-icon:active {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
  transition: background-color 0.1s;
}
.button-show-setting .ToolbarButton-Button:active:hover, input[type=button]:not(.circular):active:hover, input[type=submit]:active:hover, .privacy-btn-icon:active:hover {
  background-color: #355D75 !important;
}

button[title="New Folder"] svg path {
  d: path("m 0,0 v 1.333332 v 4 V 6.666668 V 14.66668 V 16 H 16 V 14.66668 V 5.333332 V 4 V 2.666668 H 9.333332 L 6.666668,0 V 0 V 0 H 1.333332 Z m 1.333332,1.333332 h 4.8 l1.333336,1.333336 h -0.8 v 0 v 0 L 4,5.333332 H 1.333332 Z m 0,5.333336 H 14.66668 V 14.66668 H 1.333332 Z");
}

.synced-tabs-button svg path {
  d: path("M 13.357606,6.9301109 A 5.7852868,5.7856295 0 0 0 7.5723281,12.715738 a 5.7852868,5.7856295 0 0 0 0,0.771436 a 3.8568577,3.8570869 0 0 0 -2.5712399,3.728501 a 3.8568577,3.8570869 0 0 0 3.8568578,3.857082 h 9.642166 a 4.4996681,4.4999328 0 0 0 4.499652,-4.499946 a 4.4996681,4.4999328 0 0 0 -3.856858,-4.499907 a 5.7852868,5.7856295 0 0 0 -5.7853,-5.1427931 z m 0,1.2856963 a 4.4996681,4.4999328 0 0 1 4.499663,4.4999308 a 4.4996681,4.4999328 0 0 1 0,0.64284 a 3.2140462,3.2142376 0 0 1 0.642843,0 a 3.2140462,3.2142376 0 0 1 3.214018,3.214233 a 3.2140462,3.2142376 0 0 1 -3.214018,3.214252 H 8.857946 A 2.5712393,2.571391 0 0 1 6.2867114,17.215675 A 2.5712393,2.571391 0 0 1 8.857946,14.644279 a 2.5712393,2.571391 0 0 1 0.514251,0 A 4.4996681,4.4999328 0 0 1 8.857946,12.715738 a 4.4996681,4.4999328 0 0 1 4.49966,-4.4999308 z");
}

.toggle-trash svg path:nth-child(1) {
  d: path("m 11.5,6.5 v 1.25 h -5 V 9 h 1.25 c -2.6722672,0.00579 1.0622417,0.00173 2.1093747,-5.2e-6 C 6.5433434,9.0010117 11.665926,8.9990207 12.749997,9 V 7.75 h 2.5 V 9 H 16.5 c 0.583917,-0.00356 1.311978,0.00408 1.488289,9e-6 C 21.112044,8.996881 20.211674,9.0000852 21.5,9 V 7.75 h -5 V 6.5 Z");
  stroke-width: 0.02;
  fill: currentcolor;
}
.toggle-trash svg path:nth-child(2) {
  d: path("M 19,9 V 20.25 H 9 V 9 C 8.2295945,8.9999417 8.7320423,9.0109214 7.75,9 V 21.5 H 9 H 20.25 V 20.25 V 9 c -0.689196,0.00299 -0.739251,0.00103 -1.25,0 z");
}
.toggle-trash svg line:nth-child(3) {
  opacity: 1;
  stroke: currentcolor;
  stroke-width: 1.2;
  stroke-linecap: unset;
}
.toggle-trash svg line:nth-child(4) {
  opacity: 1;
  stroke: currentcolor;
  stroke-width: 1.2;
  stroke-linecap: unset;
}

.button-startpage.add-set svg path {
  d: path("M 7.2727258,0 V 7.262919 H 0 V 8.71436 H 7.2727258 V 16 H 8.72727 V 8.71436 H 16 V 7.262919 H 8.72727 V 0 Z");
}

.circular.update-thumbnail svg path {
  d: path("m 14,8 c 0,1.1088173 -0.319333,2.140071 -0.84375,3.03125 l -2.6875,-2.6875 L 11.1875,7.625 l 1.625,1.625 c 0.05109,-0.19534 0.09772,-0.3898623 0.125,-0.59375 C 12.945289,8.6038437 12.962684,8.5529713 12.96875,8.5 C 12.98582,8.3319146 13,8.172589 13,8 C 13,5.238576 10.761424,3 8,3 C 7.756976,3 7.5144918,3.02845 7.28125,3.0625 C 7.1450007,3.082455 7.0074468,3.094286 6.875,3.125 C 6.5884185,3.19195 6.327376,3.291647 6.0625,3.40625 C 6.031825,3.419522 5.999101,3.423626 5.96875,3.4375 c -0.09166,0.040961 -0.163333,0.108255 -0.25,0.15625 c -0.008,0.00445 -0.02305,-0.00433 -0.03125,0 l -0.71875,-0.75 C 5.859929,2.319333 6.891182,2 8,2 c 3.313709,0 6,2.686293 6,6 z m -2.96875,5.15625 C 10.140071,13.680667 9.108818,14 8,14 C 4.686291,14 2,11.313707 2,8 C 2,6.8911827 2.319333,5.859929 2.84375,4.96875 l 0.75,0.75 L 5.5,7.65625 L 4.8125,8.34375 L 3.1875,6.75 C 3.13641,6.94534 3.08978,7.1398623 3.0625,7.34375 C 3.0547,7.396156 3.03732,7.4470287 3.03125,7.5 C 3.01418,7.6680854 3,7.827411 3,8 C 3,8.172589 3.01418,8.3319146 3.03125,8.5 C 3.04832,8.6680853 3.060448,8.837256 3.09375,9 C 3.559981,11.278415 5.583754,13 8,13 c 0.2482626,0 0.4801862,-0.02756 0.71875,-0.0625 C 8.8549993,12.91755 8.9925532,12.90571 9.125,12.875 c 0.2865815,-0.06695 0.547624,-0.166647 0.8125,-0.28125 c 0.030718,-0.01299 0.063349,-0.01766 0.09375,-0.03125 c 0.08886,-0.04062 0.164735,-0.108612 0.25,-0.15625 h 0.03125 z");
}
.circular.set-custom-thumbnail svg path {
  transform: matrix(0.8, 0, 0, 0.8, -0.4, -1.2);
  d: path("M 10,4 V 11 H 3 V 12 H 10 V 19 H 11 V 12 H 18 V 11 H 11 V 4 Z");
}
.circular.close svg path {
  fill: var(--colorFg);
  transform: matrix(1.6666667, 0, 0, 1.6666667, -5.3333335, -5.3333335);
  d: path("M 5.7070312,5 L 5,5.7070312 L 7.2929688,8 L 5,10.292969 L 5.7070312,11 L 8,8.7070312 L 10.292969,11 L 11,10.292969 L 8.7070312,8 L 11,5.7070312 L 10.292969,5 L 8,7.2929688 Z");
}

.SpeedDialView-Settings-Button path, .button-toolbar.button-show-setting path {
  d: path("M 10.666667,0 C 9.424024,0 8.379283,0.849734 8.083332,2 H 0 V 3.3333333 H 8.083332 C 8.379283,4.4835993 9.424024,5.3333333 10.666667,5.3333333 C 11.909302,5.3333333 12.954056,4.4835993 13.249994,3.3333333 H 16 V 2 H 13.249994 C 12.954056,0.849734 11.909302,0 10.666667,0 Z M 4,9.333336 C 2.7573591,9.333336 1.7126172,10.183062 1.4166667,11.333333 H 0 V 12.666667 H 1.4166667 C 1.7126172,13.816938 2.7573591,14.666667 4,14.666667 C 5.2426409,14.666667 6.2873828,13.816938 6.5833333,12.666667 H 6.6666667 H 9.333334 H 16 V 11.333333 H 9.333334 H 6.6666667 H 6.5833333 C 6.2873828,10.183062 5.2426409,9.333336 4,9.333336 Z M 4,10.666667 C 4.7363733,10.666667 5.3333333,11.263627 5.3333333,12 C 5.3333333,12.736373 4.7363733,13.333333 4,13.333333 C 3.2636267,13.333333 2.6666667,12.736373 2.6666667,12 C 2.6666667,11.263627 3.2636267,10.666667 4,10.666667 Z");
}

.Switch-Button {
  border: 1px solid #797B7D !important;
  transition: border 0.1s !important;
}
.Switch-Button:hover {
  border: 1px solid var(--colorHighlightBg) !important;
}

.Switch-Input {
  border: 1px solid #6E7175 !important;
  background-image: none !important;
  box-shadow: none !important;
  transition: border 0.1s !important;
}
.Switch-Input:checked {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: #346E8E !important;
}

input[type=number] {
  transition: border 0.1s !important;
}
input[type=number]:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  transition-duration: 5ms !important;
}
input[type=number]:focus-visible {
  outline: 0px !important;
  border: 1px solid var(--colorHighlightBg) !important;
}

input[type=checkbox] {
  background-image: none !important;
  background-color: #1B1E20 !important;
  border: 1px solid #6E7175 !important;
  transition: border 0.1s !important;
}
input[type=checkbox]:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  transition-duration: 5ms !important;
}
input[type=checkbox]:active {
  filter: none !important;
}
input[type=checkbox]:checked {
  background-color: #2D546B !important;
  border: 1px solid var(--colorHighlightBg) !important;
}
input[type=checkbox]:checked:before {
  background-color: var(--colorFg) !important;
  transform: rotate(-45deg) translateY(42%) translateX(-28%) scaleX(0.15) scaleY(0.35) !important;
}
input[type=checkbox]:checked:after {
  background-color: var(--colorFg) !important;
  transform: rotate(225deg) translateY(-28%) translateX(-90%) scaleX(0.16) scaleY(0.72) !important;
  transition-duration: 5ms !important;
}

input[type=radio] {
  background-image: none !important;
  background-color: #1B1E20 !important;
  border: 1px solid #5F6265 !important;
}
input[type=radio]:hover {
  border: 1px solid var(--colorHighlightBg) !important;
}
input[type=radio]:active {
  border: 1px solid var(--colorHighlightBg) !important;
  box-shadow: none !important;
  filter: none !important;
}
input[type=radio]:checked, input[type=radio]:checked:active {
  background-color: var(--colorFg) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, inset 0 0 0 4px #355D75 !important;
  transition: none !important;
  border: 1px solid var(--colorHighlightBg) !important;
}

input[type=search], input[type=text]:not(#urlFieldInput):not([id^=react-select-]) {
  height: 29.5px;
  border-radius: 2px;
  border: 1px solid #5F6265 !important;
  background-color: #1B1E20 !important;
  transition: border 0.1s;
}
input[type=search]:focus-within, input[type=search]:hover, input[type=text]:not(#urlFieldInput):not([id^=react-select-]):focus-within, input[type=text]:not(#urlFieldInput):not([id^=react-select-]):hover {
  outline: 0px !important;
  border-color: var(--colorHighlightBg) !important;
}

select {
  border: 1px solid #6E7175 !important;
  background-color: var(--colorTabBar) !important;
  height: 29.5px !important;
  z-index: 1;
}
select:hover {
  border: 1px solid var(--colorHighlightBg) !important;
}
select:active, select:focus-visible {
  outline: 0px !important;
  background-color: #355D75 !important;
  border: 1px solid var(--colorHighlightBg) !important;
}
select:not([multiple]):not([size]), select input[type=date] {
  background-image: url("downarrow.png");
  background-size: 15.2px;
  background-repeat: no-repeat;
  background-position: right center;
}

input[type=date] {
  background-image: url("whitearrow.png");
  background-size: 15.2px;
  background-repeat: no-repeat;
  background-position: right center;
}

input[type=range i] {
  background-color: #346E8E;
  border: 1px solid var(--colorHighlightBg);
  border-radius: 12px;
  height: 6px;
}
input[type=range i]:disabled {
  border-color: #1F485E;
  background-color: #243B48;
  opacity: 1;
}
input[type=range i]::-webkit-slider-thumb {
  border: 1px solid #7E8083;
  height: 18px;
  width: 18px;
  transition: border-color 0.15s;
}
input[type=range i]::-webkit-slider-thumb:hover, input[type=range i]::-webkit-slider-thumb:active {
  border: 1px solid var(--colorHighlightBg);
}

.vivaldi-settings .settings-sidebar {
  box-shadow: none;
  border-right: 0.9px solid #454B50;
}
.vivaldi-settings .settings-sidebar .settings-navigation-header {
  border-bottom: 0.9px solid #454B50;
}
.vivaldi-settings .settings-content {
  background-color: var(--colorBg) !important;
}
.vivaldi-settings .settings-content .tree-row.folder .expand-icon svg path {
  d: path("M 7.5,4.9730007 L 3.0270617,9.446 L 2.5,8.9189402 L 6.445881,4.9730007 L 2.5,1.0270688 L 3.0270617,0.5 Z");
}

.ReactVirtualized__Grid.ReactVirtualized__List {
  background-color: #1B1E20;
}
.ReactVirtualized__Grid.ReactVirtualized__List .button-category {
  margin: 0px;
  border-radius: 0px;
}
.ReactVirtualized__Grid.ReactVirtualized__List .button-category.category-selected {
  background-color: var(--colorHighlightBg);
}
.ReactVirtualized__Grid.ReactVirtualized__List .button-category.spacer {
  border-top: 0.9px solid #454B50;
}
.ReactVirtualized__Grid.ReactVirtualized__List .button-category:hover:not(.category-selected) {
  background-color: #25495C;
}

::-webkit-scrollbar-track {
  margin: 5.5px;
}
::-webkit-scrollbar-track:hover {
  background-color: #313436 !important;
  border: 1px solid #595C5D;
  border-radius: calc(var(--scrollbarWidth) / 2);
}

.theme-dark ::-webkit-scrollbar-thumb {
  border: 1px solid #797B7D !important;
  background-color: #424546 !important;
}
.theme-dark ::-webkit-scrollbar-thumb:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: #2D546B !important;
}

::-webkit-scrollbar {
  width: 7.7px;
}

#browser #webpage-stack nav.startpage-navigation {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20px);
}
#browser #webpage-stack nav.startpage-navigation .startpage-navigation-group:last-of-type {
  border-left-width: 0;
}
#browser #webpage-stack .dial {
  background-color: rgba(255, 255, 255, 0.75) !important;
  backdrop-filter: blur(10px);
  transition: all 100ms ease;
  border: 2px solid transparent;
}
#browser #webpage-stack .dial:hover {
  margin-top: 0;
  border: 2px solid var(--colorHighlightBg);
  box-shadow: 0px 0px 6px 1px var(--colorHighlightBg);
}
#browser.theme-dark #webpage-stack nav.startpage-navigation {
  background-color: rgba(42, 46, 50, 0.75);
  color: #fff;
}
#browser.theme-dark #webpage-stack .dial {
  background-color: rgba(42, 46, 50, 0.75) !important;
  color: rgba(255, 255, 255, 0.9);
}

.dialog-content {
  background: var(--colorBg);
}
.dialog-content .button-toolbar.BookmarkLocationSelector-AddFolderButton button[name=bookmarkNewFolderButton][title="New Folder"] {
  border: 1px solid #6E7175;
  border-radius: 3px !important;
  background-color: var(--colorTabBar) !important;
  background-image: none !important;
  transition: border 0.1s;
}
.dialog-content .button-toolbar.BookmarkLocationSelector-AddFolderButton button[name=bookmarkNewFolderButton][title="New Folder"]:hover {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
}
.dialog-content .button-toolbar.BookmarkLocationSelector-AddFolderButton button[name=bookmarkNewFolderButton][title="New Folder"]:active {
  border: 1px solid var(--colorHighlightBg) !important;
  background-color: var(--colorTabBar) !important;
  transition: background-color 0.1s;
}
.dialog-content .button-toolbar.BookmarkLocationSelector-AddFolderButton button[name=bookmarkNewFolderButton][title="New Folder"]:active:hover {
  background-color: #355D75 !important;
}

.dialog-footer {
  height: 52.8px !important;
}

.tree-item[data-id="0"] .button-category svg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' height='18' viewBox='0 0 18 18' width='18' version='1.1' id='svg34' sodipodi:docname='preferences-system.svg' inkscape:version='1.2.2 (b0a8486541, 2022-12-01)'%3E%3Cdefs id='defs38'%3E%3Cstyle id='current-color-scheme' type='text/css'%3E .ColorScheme-Highlight %7B color:%233593e6; %7D%3C/style%3E%3C/defs%3E%3Csodipodi:namedview id='namedview36' pagecolor='%23505050' bordercolor='%23eeeeee' borderopacity='1' inkscape:pageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' showgrid='false' inkscape:zoom='31.5625' inkscape:cx='5.8613861' inkscape:cy='7.9841584' inkscape:window-width='1920' inkscape:window-height='988' inkscape:window-x='0' inkscape:window-y='0' inkscape:window-maximized='1' inkscape:current-layer='svg34' inkscape:showpageshadow='0' inkscape:deskcolor='%23505050'/%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='4' x2='16' y1='3.99999' y2='16' gradientTransform='scale(1.125)'%3E%3Cstop offset='0' id='stop2'/%3E%3Cstop offset='1' stop-opacity='0' id='stop4'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='-1.14285' x2='8.5714302' y1='-1.71429' y2='9.1428499' gradientTransform='scale(1.125)'%3E%3Cstop offset='0' stop-color='%23fff' id='stop7'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0' id='stop9'/%3E%3C/linearGradient%3E%3Cpath d='M 16.875,0 H 1.125 C 0.5036805,0 0,0.50367938 0,1.125 v 15.75 C 0,17.496337 0.50367937,18 1.125,18 h 15.75 C 17.496337,18 18,17.496337 18,16.875 V 1.125 C 18,0.50367938 17.496337,0 16.875,0 Z' fill='%232d3033' id='path12' style='stroke-width:1.125'/%3E%3Cpath d='M 16.875,0 H 1.125 C 0.50367937,0 0,0.50367938 0,1.125 v 15.75 C 0,17.496337 0.50367937,18 1.125,18 h 15.75 C 17.496337,18 18,17.496337 18,16.875 V 1.125 C 18,0.50367938 17.496337,0 16.875,0 Z' fill='url(%23b)' opacity='0.276' id='path14' style='fill:url(%23b);stroke-width:1.125'/%3E%3Cpath d='M 14.0625,5.0625 L 12.857175,6.4285652 L 2.2500001,6.1875002 L 7.3124999,11.25 L 2.2500001,11.8125 L 7.8749999,18 H 16.875 C 17.496337,18 18,17.496337 18,16.875 V 8.9999999 Z' fill='url(%23a)' opacity='0.4' id='path16' style='fill:url(%23a);stroke-width:1.125'/%3E%3Cpath d='m 2.8125114,5.6250002 c -0.3106688,0 -0.5625113,0.2518425 -0.5625113,0.5625 c 0,0.3106688 0.2518425,0.5625113 0.5625113,0.5625113 L 12.375,6.7499102 V 5.6250677 Z' id='path18' class='ColorScheme-Highlight' style='fill:currentColor;stroke-width:1.125'/%3E%3Cpath d='m 12.9375,7.8749999 c 0.93195,0 1.6875,-0.7555159 1.6875,-1.6874997 C 14.625,5.2555162 13.86945,4.5 12.9375,4.5 C 12.00555,4.5 11.25,5.2555162 11.25,6.1875002 c 0,0.9319838 0.75555,1.6874997 1.6875,1.6874997 z' fill='%23fafafa' id='path20' style='stroke-width:1.125'/%3E%3Cpath d='m 12.375,5.625079 v 1.1248312 l 2.8125,6.75e-5 c 0.310725,0 0.5625,-0.24336 0.5625,-0.553995 c 0,-0.3106462 -0.251775,-0.570915 -0.5625,-0.570915 z' fill='%23fcfcfc' opacity='0.2' id='path22' style='stroke-width:1.125'/%3E%3Cpath d='m 2.8125001,11.25 c -0.3106575,0 -0.5625,0.251887 -0.5625,0.5625 c 0,0.310725 0.2518425,0.5625 0.5625,0.5625 l 3.9375,-1.13e-4 v -1.124775 z' id='path24' class='ColorScheme-Highlight' style='fill:currentColor;stroke-width:1.125'/%3E%3Cpath d='m 7.3124999,13.5 c 0.9319837,0 1.6875,-0.75555 1.6875,-1.6875 c 0,-0.931984 -0.7555163,-1.6875 -1.6875,-1.6875 c -0.9319835,0 -1.6874998,0.755516 -1.6874998,1.6875 c 0,0.93195 0.7555163,1.6875 1.6874998,1.6875 z' fill='%23fafafa' id='path26' style='stroke-width:1.125'/%3E%3Cpath d='M 6.7500001,11.250225 V 12.375 H 15.1875 c 0.310613,0 0.5625,-0.251775 0.5625,-0.5625 c 0,-0.310613 -0.251887,-0.5625 -0.5625,-0.5625 z' fill='%23fcfcfc' opacity='0.2' id='path28' style='stroke-width:1.125'/%3E%3Cpath d='M 1.125,18 C 0.50175,18 0,17.49825 0,16.875 V 15.75 c 0,0.62325 0.50175,1.125 1.125,1.125 h 15.75 C 17.49825,16.875 18,16.37325 18,15.75 v 1.125 C 18,17.49825 17.49825,18 16.875,18 Z' opacity='0.3' id='path30' style='stroke-width:1.125'/%3E%3Cpath d='M 1.125,0 C 0.50175,0 0,0.50173875 0,1.125 V 2.25 C 0,1.6267387 0.50175,1.125 1.125,1.125 h 15.75 C 17.49825,1.125 18,1.6267387 18,2.25 V 1.125 C 18,0.50173875 17.49825,0 16.875,0 Z' fill='%23ffffff' opacity='0.3' id='path32' style='stroke-width:1.125'/%3E%3C/svg%3E");
}
.tree-item[data-id="0"] .button-category svg path {
  all: unset;
}
.tree-item[data-id="0"] .button-category svg rect {
  all: unset;
}

.tree-item[data-id="1"] .button-category svg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' height='18' width='18' version='1.1' id='svg31' sodipodi:docname='preferences-online-accounts2.svg' inkscape:version='1.2.2 (b0a8486541, 2022-12-01)'%3E%3Csodipodi:namedview id='namedview33' pagecolor='%23ffffff' bordercolor='%23999999' borderopacity='1' inkscape:showpageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' showgrid='false' inkscape:zoom='36.409091' inkscape:cx='8.9812734' inkscape:cy='9.0087391' inkscape:window-width='1920' inkscape:window-height='988' inkscape:window-x='0' inkscape:window-y='0' inkscape:window-maximized='1' inkscape:current-layer='svg31'/%3E%3Cdefs id='defs7'%3E%3ClinearGradient id='a' gradientTransform='matrix(0.64286,0,0,0.64286,-248.51,-332.87)' gradientUnits='userSpaceOnUse' x2='0' y1='545.79797' y2='517.79797'%3E%3Cstop offset='0' stop-color='%23197cf1' id='stop2'/%3E%3Cstop offset='1' stop-color='%2320bcfa' id='stop4'/%3E%3C/linearGradient%3E%3C/defs%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='11' x2='11' y1='19' y2='1' gradientTransform='translate(-2,-2)'%3E%3Cstop offset='0' stop-color='%237cbaf8' id='stop9'/%3E%3Cstop offset='1' stop-color='%23f4fcff' id='stop11'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='20' x2='6' y1='19' y2='5' gradientTransform='translate(-2,-2)'%3E%3Cstop offset='0' stop-color='%23292c2f' id='stop14'/%3E%3Cstop offset='1' stop-opacity='0' id='stop16'/%3E%3C/linearGradient%3E%3Crect style='fill:url(%23a);stroke-width:0.642858' height='18' rx='9' width='18' x='0' y='0' id='rect19'/%3E%3Cpath style='fill:%235edc8b;fill-opacity:1;stroke-width:2;stroke-linejoin:round' d='M 9,0 A 9,9 0 0 0 0.945,5 H 2 L 3,6 V 5 H 4 V 4 L 6,2 V 3 L 7,2 V 1 H 8 V 2 H 9 L 10,1 V 0.057 A 9,9 0 0 0 9,0 Z m 6.361,2.639 L 15,3 v 1 h 1 L 16.283,3.717 A 9,9 0 0 0 15.361,2.639 Z m 1.323,1.677 L 16,5 l -2,1 l -1,3 h 1 v 1 l 2,1 l 1.918,-0.959 A 9,9 0 0 0 18,9 A 9,9 0 0 0 16.684,4.316 Z M 1,7 V 8 H 0.078 A 9,9 0 0 0 0,9 h 1 l 2,2 h 1 v 1 H 3 v 1 l 2,2 v 2.055 A 9,9 0 0 0 9,18 l 1,-1 v -1 h 1 l 1,-1 v -1 l 1,-1 L 12,12 H 10 L 9,11 H 8 L 7,10 H 5 V 9 L 4,10 H 3 V 9 L 2,8 V 7 Z' id='path21'/%3E%3Cpath d='M 7,12 C 6.154,12.002 5.401,12.402 5.12,13 H 8.885 C 8.602,12.4 7.847,12 7,12 Z' fill='%23292c2f' id='path23'/%3E%3Cpath d='M 7,5 A 2,2 0 0 0 5.586,8.414 l 1.598,1.592 L 7,10 c -1.657,0 -3,1.12 -3,2.5 c 0.002,0.168 0.025,0.336 0.068,0.5 l 4.996,4.996 a 9,9 0 0 0 8.627,-6.719 L 12.707,6.293 L 11.293,7.707 L 12.586,9 H 11.828 L 8.414,5.586 Z' fill='url(%23b)' opacity='0.2' id='path25' style='fill:url(%23b)'/%3E%3Cpath d='M 7,5 A 2,2 0 1 0 7,9 A 2,2 0 0 0 7,5 Z M 7,6 A 1,1 0 1 1 7,8 A 1,1 0 0 1 7,6 Z m 5,0 a 1,1 0 0 0 -1,1 a 1,1 0 0 0 1,1 A 1,1 0 0 0 13,7 A 1,1 0 0 0 12,6 Z m -1,3 v 4 h 2 V 9 Z m -4,1 c -1.657,0 -3,1.12 -3,2.5 c 0.002,0.168 0.025,0.336 0.068,0.5 H 9.932 C 9.975,12.836 9.997,12.668 10,12.5 C 10,11.12 8.657,10 7,10 Z m 0,1 c 0.847,0 1.602,0.4 1.885,1 H 5.119 C 5.401,11.402 6.154,11.002 7,11 Z' fill='url(%23c)' id='path27' style='fill:url(%23c)'/%3E%3Cpath style='opacity:0.3;fill:%23292c2f;stroke-width:2;stroke-linejoin:round' d='M 17.975,8.36 A 9,9 0 0 1 9,17 A 9,9 0 0 1 0.035,8.5 A 9,9 0 0 0 0,9 a 9,9 0 0 0 9,9 A 9,9 0 0 0 18,9 A 9,9 0 0 0 17.975,8.36 Z' id='path29'/%3E%3C/svg%3E");
}
.tree-item[data-id="1"] .button-category svg path {
  all: unset;
}
.tree-item[data-id="1"] .button-category svg rect {
  all: unset;
}

.tree-item[data-id="2"] .button-category svg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg' height='18' width='18' version='1.1' id='svg108' sodipodi:docname='preferences-desktop-theme-globalmodified.svg' inkscape:version='1.2.2 (b0a8486541, 2022-12-01)'%3E%3Cdefs id='defs112'/%3E%3Csodipodi:namedview id='namedview110' pagecolor='%23ffffff' bordercolor='%23999999' borderopacity='1' inkscape:showpageshadow='0' inkscape:pageopacity='0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' showgrid='false' inkscape:zoom='25.03125' inkscape:cx='16.019975' inkscape:cy='7.670412' inkscape:window-width='1920' inkscape:window-height='988' inkscape:window-x='0' inkscape:window-y='0' inkscape:window-maximized='1' inkscape:current-layer='svg108'/%3E%3ClinearGradient id='a'%3E%3Cstop offset='0' stop-color='%23e81877' id='stop2'/%3E%3Cstop offset='.312499' stop-color='%23dd1d8c' id='stop4'/%3E%3Cstop offset='.562499' stop-color='%236d57b1' id='stop6'/%3E%3Cstop offset='.75' stop-color='%232a78c1' id='stop8'/%3E%3Cstop offset='1' stop-color='%23018dcb' id='stop10'/%3E%3C/linearGradient%3E%3ClinearGradient id='b'%3E%3Cstop offset='0' stop-color='%23e51561' id='stop13'/%3E%3Cstop offset='.312499' stop-color='%23e4156c' id='stop15'/%3E%3Cstop offset='.562499' stop-color='%23e71e2c' id='stop17'/%3E%3Cstop offset='.75' stop-color='%23e8301e' id='stop19'/%3E%3Cstop offset='1' stop-color='%23e6320e' id='stop21'/%3E%3C/linearGradient%3E%3ClinearGradient id='c'%3E%3Cstop offset='0' stop-color='%23bec900' id='stop24'/%3E%3Cstop offset='.312499' stop-color='%239ec80a' id='stop26'/%3E%3Cstop offset='.562499' stop-color='%2371b93d' id='stop28'/%3E%3Cstop offset='.75' stop-color='%2335a48f' id='stop30'/%3E%3Cstop offset='1' stop-color='%23018fca' id='stop32'/%3E%3C/linearGradient%3E%3ClinearGradient id='d'%3E%3Cstop offset='0' stop-color='%23c1cc00' id='stop35'/%3E%3Cstop offset='.312499' stop-color='%23dfcd00' id='stop37'/%3E%3Cstop offset='.562499' stop-color='%23f0cc00' id='stop39'/%3E%3Cstop offset='.75' stop-color='%23fd8c08' id='stop41'/%3E%3Cstop offset='1' stop-color='%23f25c13' id='stop43'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientTransform='matrix(-0.40403755,-1.5078898,1.5078887,-0.40403789,34.507553,61.88627)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23d' y1='24' y2='8'/%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='394.57144' x2='408.57144' y1='523.79797' y2='537.79797'%3E%3Cstop offset='0' stop-color='%23292c2f' id='stop47'/%3E%3Cstop offset='1' stop-color='%23292c2f' stop-opacity='.035714' id='stop49'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientTransform='matrix(0.99946327,0,0,0.99953344,0.211233,0.25042)' gradientUnits='userSpaceOnUse' x1='400.57144' x2='400.57144' y1='536.79797' y2='522.79797'%3E%3Cstop offset='0' stop-color='%23eff0f1' id='stop52'/%3E%3Cstop offset='1' stop-color='%23fcfcfc' id='stop54'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientTransform='matrix(-1.1038511,-1.103852,1.1038511,-1.103852,60.999973,68.984915)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23d' y1='24' y2='8'/%3E%3ClinearGradient id='i' gradientTransform='matrix(-0.40403755,-1.5078898,-1.5078887,0.40403789,106.88621,42.492466)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23c' y1='23.999973' y2='8'/%3E%3ClinearGradient id='j' gradientTransform='matrix(0.40403755,1.5078898,1.5078887,-0.40403789,15.113754,-10.492425)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23b' y1='24.000031' y2='8'/%3E%3ClinearGradient id='k' gradientTransform='matrix(1.5078887,0.40403789,-0.40403755,1.5078898,34.50755,-29.88626)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23a' y1='23.999973' y2='8'/%3E%3ClinearGradient id='l' gradientTransform='matrix(1.5078887,0.40403789,0.40403755,-1.5078898,15.113751,42.492446)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23b' y1='24.000031' y2='8'/%3E%3ClinearGradient id='m' gradientTransform='matrix(-1.5078887,-0.40403789,-0.40403755,1.5078898,106.88621,-10.492446)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23c' y1='23.999973' y2='8'/%3E%3ClinearGradient id='n' gradientTransform='matrix(-1.5078887,-0.40403789,0.40403755,-1.5078898,87.492393,61.88626)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23d' y1='24' y2='8'/%3E%3ClinearGradient id='o' gradientTransform='matrix(1.1038511,1.103852,-1.1038511,1.103852,60.99999,-36.98486)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23a' y1='23.999973' y2='8'/%3E%3ClinearGradient id='p' gradientTransform='matrix(1.1038511,1.103852,1.1038511,-1.103852,8.015131,16.00003)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23b' y1='24.000031' y2='8'/%3E%3ClinearGradient id='q' gradientTransform='matrix(-1.1038511,-1.103852,-1.1038511,1.103852,113.98484,16.00003)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23c' y1='23.999973' y2='8'/%3E%3ClinearGradient id='r' gradientTransform='matrix(0.40403755,1.5078898,-1.5078887,0.40403789,87.49235,-29.88624)' gradientUnits='userSpaceOnUse' x1='8' x2='24.00001' xlink:href='%23a' y1='23.999973' y2='8'/%3E%3Cg transform='matrix(0.56249965,0,0,0.5625,-216.32129,-290.13638)' id='g106'%3E%3Cg stroke-opacity='0.550265' stroke-width='4.37103' id='g92'%3E%3Cpath d='M 45,11.712891 V 32 H 56.712891 L 61,16 Z' fill='url(%23l)' transform='translate(339.57143,513.798)' id='path68' style='fill:url(%23l)'/%3E%3Cpath d='M 64.214844,4 L 61,16 l 16,4.287109 V 4 Z' fill='url(%23m)' transform='translate(339.57143,513.798)' id='path70' style='fill:url(%23m)'/%3E%3Cpath d='M 61,16 L 56.712891,32 H 77 V 20.287109 Z' fill='url(%23n)' transform='translate(339.57143,513.798)' id='path72' style='fill:url(%23n)'/%3E%3Cpath d='M 77,11.712891 L 61,16 l 4.287109,16 H 77 Z' fill='url(%23i)' opacity='0.3' transform='translate(339.57143,513.798)' id='path74' style='fill:url(%23i)'/%3E%3Cpath d='M 73,4 L 61,16 L 77,32 V 4 Z' fill='url(%23q)' opacity='0.35' transform='translate(339.57143,513.798)' id='path76' style='fill:url(%23q)'/%3E%3Cpath d='M 57.785156,4 L 61,16 L 77,11.712891 V 4 Z' fill='url(%23r)' opacity='0.3' transform='translate(339.57143,513.798)' id='path78' style='fill:url(%23r)'/%3E%3Cpath d='m 45,4 v 7.712891 L 61,16 L 64.214844,4 Z' fill='url(%23k)' transform='translate(339.57143,513.798)' id='path80' style='fill:url(%23k)'/%3E%3Cpath d='M 45,4 V 32 L 61,16 L 49,4 Z' fill='url(%23p)' opacity='0.35' transform='translate(339.57143,513.798)' id='path82' style='fill:url(%23p)'/%3E%3Cpath d='M 61,16 L 45,32 h 32 z' fill='url(%23h)' opacity='0.35' transform='translate(339.57143,513.798)' id='path84' style='fill:url(%23h)'/%3E%3Cpath d='M 61,16 L 45,20.287109 V 32 h 20.287109 z' fill='url(%23e)' opacity='0.3' transform='translate(339.57143,513.798)' id='path86' style='fill:url(%23e)'/%3E%3Cpath d='M 45,4 V 20.287109 L 61,16 L 57.785156,4 Z' fill='url(%23j)' opacity='0.3' transform='translate(339.57143,513.798)' id='path88' style='fill:url(%23j)'/%3E%3Cpath d='M 49,4 L 61,16 L 73,4 Z' fill='url(%23o)' opacity='0.35' transform='translate(339.57143,513.798)' id='path90' style='fill:url(%23o)'/%3E%3C/g%3E%3Cpath d='m 407.43666,522.93472 a 1.7499762,7.8748938 44.997781 0 1 -4.33203,6.80469 a 1.7499762,7.8748938 44.997781 0 1 -3.54492,3.06054 l 12.9043,12.99805 h 4.10742 v -13.72851 z m -9.84765,7.84961 l -0.0176,0.0137 l 0.004,0.004 a 1.7499762,7.8748938 44.997781 0 1 0.0137,-0.0176 z m 0.13672,0.16992 l 1.70312,1.71485 c -0.30575,-0.78802 -0.91881,-1.40227 -1.70312,-1.71485 z m 0.69531,1.61914 c 0.4221,0.38858 0.40039,0.94169 0.40039,1.30469 c 0,1.16824 -1.7472,2.91992 -5.25,2.91992 l 9,9 h 9.07422 z' fill='url(%23f)' opacity='0.25' id='path94' style='fill:url(%23f)'/%3E%3Cpath d='m 384.57144,541.79803 h 16.00001 v 3.99997 h -16.00001 z' fill='%23ffffff' fill-opacity='0.784314' stroke-width='0.707108' id='path96'/%3E%3Cpath d='m 400.57144,541.79803 h 16.00001 v 3.99997 h -16.00001 z' fill='%2331363b' fill-opacity='0.862245' stroke-width='0.707108' id='path98'/%3E%3Ccircle cx='413.5715' cy='543.79797' fill='%23eff0f1' r='1' id='circle100'/%3E%3Cpath d='m 386.57148,542.79797 v 1 h 1 v -1 z m 1,1 v 1 h 1 v -1 z' fill='%234d4d4d' id='path102'/%3E%3Cpath d='m 407.14523,522.8045 a 1.7499762,7.8748938 44.997781 0 0 -6.51432,4.46054 a 1.7499762,7.8748938 44.997781 0 0 -3.09995,3.5992 c 0.9415,0.29981 1.67569,1.03404 1.97548,1.97564 a 1.7499762,7.8748938 44.997781 0 0 3.59895,-3.10019 a 1.7499762,7.8748938 44.997781 0 0 4.33035,-6.80529 a 1.7499762,7.8748938 44.997781 0 0 -0.29051,-0.1299 m -10.07396,9.32442 c -3.49984,0.93784 -0.87497,3.15348 -3.49984,4.66905 c 3.5028,0 5.24975,-1.75076 5.24975,-2.919 c 0,-0.58179 0.0591,-1.65331 -1.74991,-1.75005 z' fill='url(%23g)' id='path104' style='fill:url(%23g)'/%3E%3C/g%3E%3C/svg%3E");
}
.tree-item[data-id="2"] .button-category svg path {
  all: unset;
}
.tree-item[data-id="2"] .button-category svg rect {
  all: unset;
}

/*# sourceMappingURL=breeze.css.map */
